DB_HOST=localhost
DB_PORT=5432
DB_NAME=alpha_web_default
DB_USERNAME=alphaadmin
DB_PASSWORD=change-me
REDIS_HOST=localhost
REDIS_PORT=6379
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=alphaadmin
RABBITMQ_PASSWORD=change-me
